<!DOCTYPE html>
<html>
<head><title>Voting Records</title></head>
<body>
	<h1>Voting Records</h1>
	<p>Tell us how you're voting.</p>
	<ul>
		<li><a href="/">How are you voting?</a></li>
		<li><a href="/results">See how everyone else is voting?</a></li>
	</ul>

	<div>{{hello}}</div> 

	{{{partials}}}


	<div class="footer">
		
	</div>
</body>
</html>